html {
  font-family: Poppins, sans-serif, "Times New Roman", Times, serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BG-COLOR: hsl(0, 100%, 74%);
  --BTN-COLOR: hsl(154, 59%, 51%);
  --TEXT-COLOR: hsl(246, 25%, 77%);
  --TEXT-BG: hsl(248, 32%, 49%);
  --GRAY-TEXT: hsl(249, 10%, 26%);
  --FONT-400: 400;
  --FONT-500: 500;
  --FONT-600: 600;
  --FONT-700: 700;
  --HEADER-COLOR: rgb(255, 255, 255);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--BG-COLOR);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/bg-intro-mobile.png);
  background-position: 100vh;
  background-position-x: top;
  margin: 50px 30px 0;
}

.header-div{
    margin-bottom: 20px ;
}

.header-div > h1{
    color: var(--HEADER-COLOR);
}

.first-section{
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.5;
}

.first-section p{
 color: var(--HEADER-COLOR);
}

.form-header{
    background-color: var(--TEXT-BG);
    text-align: center;
    color: var(--HEADER-COLOR);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 12px var(--GRAY-TEXT);
    margin-bottom: 25px;
    width: 100%;
}

.form-header p{
    margin-bottom: 5px;
    font-weight: var(--FONT-600)
}

.trial-class{
    font-weight: 100;
    color: var(--TEXT-COLOR)
}
form{
    background-color: var(--HEADER-COLOR);
    padding: 15px 18px;
    border-radius: 10px;
    width: 100%;
}

form input{
    padding: 15px;
    margin-bottom: 12px;
    width: 100%;
    font-weight: var(--FONT-700);
}

button{
    padding: 20px;
    width: 100%;
    background-color: var(--BTN-COLOR);
    border-radius: 5px;
    border: none;
    color: var(--HEADER-COLOR);
    font-weight: var(--FONT-600);
}
footer{
    text-align: center;
    margin-top: 12px;
    font-size: 0.70rem;
    padding: 0 12px;
   
}

footer p{
     color: var(--TEXT-COLOR);
}

footer p > span{
    color: var(--BG-COLOR);
    font-weight: var(--FONT-600);
    display: inline-block;
    margin: 5px 0;
    font-weight: var(--FONT-700);
}

input:hover, input:focus{
    border:2px solid black;
    cursor: pointer;
}

button:hover{
cursor:  pointer;
background: var(--TEXT-BG);
}

@media screen and (min-width: 1200px){
main{
    flex-direction: row;
    width: 80%;
    gap: 25px;
}

.first-section{
    width: 50%;
    text-align: start;
    margin: 0 4opx
}
.header-div > h1{
   text-align: start;
   width: 350px;
   font-size: 2.5rem;
}

.second-section{
   width: 50% ;
}
.form-header > p{
  display: inline;
   word-spacing: 2px;
}

}

